@import "generic/grid";
@import "generic/reset";
@import "elements/crew";
@import "elements/destination";
@import "elements/home";
@import "elements/technology";

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
