@import "../settings/variables";

.home-body {
    background-image: url(../scss/assets/home/background-home-desktop.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 1083px) {
        background-image: url(../scss/assets/home/background-home-tablet.jpg);
        height: 100%;
        background-size: cover;
    }

    @media (max-width: 511px) {
        background-image: url(../scss/assets/home/background-home-mobile.jpg);
        height: 100%;
        background-size: cover;
    }
}

.header-home {
    display: flex;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        display: flex;
        margin-left: 120px;
        width: 70px;
        position: relative;

        @media (max-width: 1083px) {
            margin-left: 50px;
        }

        @media (max-width: 511px) {
            width: 30px;
        }
    }

    ul {
        -webkit-backdrop-filter: blur(90px);
        backdrop-filter: blur(90px);
        z-index: 1;
        position: relative;
        display: flex;
        height: 146px;
        width: 970px;
        align-items: center;

        @media (max-width: 886px) {
            backdrop-filter: none;
        }

        li {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 40px;

            strong {
                color: white;
                font-family: $barlow;
                font-weight: 600;
                font-size: 22px;
                margin: 0 5px;
            }

            a {
                color: white;
                margin: 0 5px;
                text-decoration: none;
                font-size: 20px;
                font-family: $barlow;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            &:first-child {
                margin-left: 120px;
                position: relative;

                @media (max-width: 1083px) {
                    margin-left: 5%;
                }
            }

            &:first-child:before {
                content: "";
                position: absolute;
                transition: 300ms;
                width: 100%;
                height: 4px;
                background-color: white;
                bottom: -62px;
                opacity: 1;
            }

            &:before {
                content: "";
                position: absolute;
                transition: 300ms;
                width: 0;
                height: 4px;
                background-color: white;
                opacity: 0;
                bottom: -62px;
            }

            &:hover:before {
                content: "";
                position: absolute;
                opacity: 1;
                width: 100%;
                height: 4px;
                background-color: white;
            }

            @media (max-width: 1083px) {
                width: 80%;
            }

            @media (max-width: 885px) {
                display: none;
            }
        }

        @media (max-width: 511px) {
            backdrop-filter: none;
        }
    }

    .line {
        z-index: 2;
        width: 36%;
        height: 1px;
        opacity: 0.4;
        background-color: white;
        transform: translate(100px);

        @media (max-width: 1083px) {
            display: none;
        }
    }

    @media (max-width: 1083px) {
        padding: 0;
    }

    .hamburger {
        width: 8%;
        filter: invert(1);
        display: none;
        cursor: pointer;

        @media (max-width: 885px) {
            display: flex;
            padding-right: 50px;
        }
    }
}

.hero-home {
    display: flex;
    width: 100%;
    margin-top: 150px;

    .hero-container-home {
        display: flex;
        width: 100vw;
        height: 100%;
        align-items: center;

        .left-home {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            h2 {
                text-align: center;
                font-size: 24px;
                font-family: $barlow;
                font-weight: 300;
                letter-spacing: 5px;
                text-transform: uppercase;
                color: white;

                @media (max-width: 511px) {
                    font-size: 18px;
                }
            }

            h1 {
                padding: 40px 0;
                font-size: 135px;
                letter-spacing: 11px;
                color: white;
                font-family: $bellefair;
                text-transform: uppercase;
                @media (max-width: 511px) {
                    font-size: 70px;
                }
            }

            p {
                font-size: 22px;
                opacity: 0.7;
                color: white;
                font-family: $barlow;
                font-weight: 100;
                letter-spacing: 1px;
                line-height: 2rem;
                width: 430px;
                @media (max-width: 511px) {
                    font-size: 16px;
                    width: 80%;
                }
            }
        }

        .right-home {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media (max-width: 511px) {
        margin-top: 50px;
    }
}

.hero-btn {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    transition: 300ms;
    border-radius: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border: 0;
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-family: $bellefair;
    text-transform: uppercase;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        transition: 300ms;

        @media (max-width: 511px) {
            width: 150px;
            height: 150px;
        }
    }

    &:hover:before {
        height: 350px;
        width: 350px;
        background-color: rgba(227, 238, 227, 0.4);

        @media (max-width: 511px) {
            height: 200px;
            width: 200px;
        }
    }

    &:active:before {
        height: 350px;
        width: 350px;
        background-color: rgba(174, 182, 174, 0.8);
    }

    @media (max-width: 1083px) {
        margin-top: 50px;
    }

    @media (max-width: 511px) {
        width: 150px;
        height: 150px;
        font-size: 20px;
        margin-bottom: 0;
    }
}

.hamburger-menu {
    display: none;
    width: 100%;
    background-color: white;
    height: 100vh;
    transition: 300ms;
    justify-content: center;

    ul {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        align-items: center;

        li {
            width: fit-content;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0;

            strong {
                color: black;
                font-family: $barlow;
                font-weight: 600;
                font-size: 22px;
                margin: 0 5px;
            }

            a {
                color: black;
                margin: 0 5px;
                text-decoration: none;
                font-size: 20px;
                font-family: $barlow;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            &:before {
                content: "";
                position: absolute;
                transition: 300ms;
                width: 0;
                height: 4px;
                background-color: black;
                opacity: 0;
                bottom: -10px;
            }

            &:hover:before {
                content: "";
                position: absolute;
                opacity: 1;
                width: 100%;
                height: 4px;
                background-color: black;
            }
        }
    }

    .hamburger {
        position: absolute;
        width: 50px;
        margin-right: 50px;
        right: 0;
        top: 50px;
        cursor: pointer;
    }
}

.hamburgerDropin {
    transition: 300ms;
    display: flex;
    animation-name: animationHamburger;
    animation-duration: 0.3s;
}

.hamburgerDropout {
    transition: 300ms;
    animation-name: animationHamburgerDropout;
    animation-duration: 0.3s;
    transition: 300ms;
    display: none;
}

@keyframes animationHamburger {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes animationHamburgerDropout {
    from {
        transform: translateX(0);
        display: flex;
        opacity: 1;
    }

    to {
        transform: translate(0, 300px);
        display: none;
        opacity: 0;
    }
}
